<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BricolageGrotesque-Bold.ttf</string>
		<string>BricolageGrotesque-Light.ttf</string>
		<string>BricolageGrotesque-Medium.ttf</string>
		<string>BricolageGrotesque-Regular.ttf</string>
		<string>BricolageGrotesque-SemiBold.ttf</string>
		<string>BricolageGrotesque-ExtraBold.ttf</string>
		<string>Audiowide-Regular.ttf</string>
		<string>BakbakOne-Regular.ttf</string>
		<string>CaesarDressing-Regular.ttf</string>
		<string>Battambang-Regular.ttf</string>
		<string>BradleyHandITCTT-Bold.ttf</string>
		<string>brushscriptstd.ttf</string>
		<string>Arvo-Bold.ttf</string>
		<string>Arvo-Italic.ttf</string>
		<string>Arvo-Regular.ttf</string>
		<string>DMSerifDisplay-Italic.ttf</string>
		<string>DMSerifDisplay-Regular.ttf</string>
		<string>Economica-Bold.ttf</string>
		<string>Economica-Italic.ttf</string>
		<string>Economica-Regular.ttf</string>
		<string>BalsamiqSans-Bold.ttf</string>
		<string>BalsamiqSans-Regular.ttf</string>
		<string>BalsamiqSans-Italic.ttf</string>
		<string>Doto-Bold.ttf</string>
		<string>Doto-Regular.ttf</string>
		<string>LobsterTwo-Bold.ttf</string>
		<string>LobsterTwo-Regular.ttf</string>
		<string>LobsterTwo-Italic.ttf</string>
		<string>Montserrat-Bold</string>
		<string>Montserrat-Italic</string>
		<string>Montserrat-Regular</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Ribeye-Regular.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>ZillaSlab-Bold.ttf</string>
		<string>ZillaSlab-Italic.ttf</string>
		<string>ZillaSlab-Regular.ttf</string>
		<string>DynaPuff-Bold.ttf</string>
		<string>DynaPuff-Regular.ttf</string>
	</array>
</dict>
</plist>
